/* initial */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, "Microsoft JhengHei", "微軟正黑體";
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* 在這支檔案裡定義global的樣式，譬如說button之類的 */
